.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 7.5vw;
}

.footer .content {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-bottom: 2rem;
}

.footer .content a {
  font-weight: 700;
  font-size: 0.9rem;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--foreground);
  margin: 0 3rem 1rem 0;
  transition: 150ms;
}

.footer .content a:hover {
  color: var(--blue);
}

.footer .bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .bottom-section h2 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey);
}

.footer .bottom-section .social-media a {
  font-size: 1.5rem;
  color: var(--grey);
  transition: 150ms;
}

.footer .bottom-section .social-media a:hover {
  color: var(--green);
}

.footer .bottom-section .social-media a:not(:last-child) {
  margin-right: 1.5rem;
}
