.header {
  height: var(--header-height);
  background-color: var(--background);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-shadow {
  box-shadow: var(--header-box-shadow);
}

.header .container-logo {
  height: 100%;
}

.header .container-logo svg .cls-1 {
  fill: var(--blue);
}

.header .container-logo svg .cls-2 {
  fill: var(--green);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7.5vw;
  width: 100%;
  max-width: 1200px;
  background-color: transparent;
}

.header .container-logo img {
  height: 100%;
}

.header .container-content {
  display: flex;
  align-items: center;
}

.header .container-list {
  display: flex;
  list-style: none;
}

.header .container-list a {
  margin-right: 3em;
}

.header .container-list a,
.header .container-button {
  color: var(--foreground);
  text-decoration: none;
  font-weight: 700;
  transition: 150ms;
}

.header .container-list a:hover,
.header .link--active {
  color: var(--blue) !important;
}

.header .container-button {
  display: inline-block;
  color: var(--background);
  background-color: var(--blue);
  padding: 1em 2em;
  border-radius: 5em;
  font-size: 1rem;
  cursor: pointer;
  transition: 150ms;
}

.header .container-button:hover {
  background-color: hsl(218, 91%, 40%);
}

.header-observer {
  position: relative;
  top: 80px;
}
