.header {
  height: var(--header-height);
  background-color: var(--background);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-shadow {
  box-shadow: var(--header-box-shadow);
}

.header .container svg {
  height: 100%;
}

.header .container svg .cls-1 {
  fill: var(--blue);
}

.header .container svg .cls-2 {
  fill: var(--green);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7.5vw;
  width: 100%;
  max-width: 1200px;
  background-color: transparent;
}

.header .container-logo img {
  height: 100%;
}

.header .content {
  display: flex;
  align-items: center;
}

.header .content-list {
  display: flex;
  list-style: none;
}

.header .content-list a {
  margin-right: 3em;
  color: var(--foreground);
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  transition: 150ms;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}

.header .content-list a:hover,
.header .link--active {
  color: var(--blue) !important;
}

.header .button:hover {
  background-color: hsl(218, 91%, 40%);
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .header .content-list {
    display: none;
  }
}
