.hero_section {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;

  .column {
    .title {
      font-size: 3rem;
      font-weight: 700;
      color: var(--blue);
      line-height: 1.1;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: var(--blue);
      line-height: 1.4;
    }

    .button_fill {
      font-size: 1rem;
      font-weight: 500;
      color: var(--background);
      background: var(--blue);
      border-radius: 2em;
      width: fit-content;
      padding: 1em 2em;
      margin: 1rem 0;
      cursor: pointer;
      transition: 100ms ease-in;
      height: fit-content;
      white-space: nowrap;

      &:hover {
        background: var(--dark-blue);
      }
    }

    .button_outline {
      font-size: 1rem;
      font-weight: 500;
      color: var(--blue);
      border-radius: 2em;
      border: 1px solid var(--line);
      width: fit-content;
      padding: 1em 2em;
      height: fit-content;
      white-space: nowrap;
    }

    .link {
      display: flex;
      align-items: center;
      color: var(--blue);
      text-decoration: none;
      margin-top: 1rem;

      span {
        font-size: 0.875rem;
        font-weight: 600;
      }

      svg {
        font-size: 1rem;
        cursor: pointer;
        transition: 150ms ease-in;
      }

      &:hover > svg {
        transform: translateX(0.5rem);
      }
    }
  }

  .column:last-child {
    background: var(--light-blue);
    width: calc(100% + 14vw);
    height: 65vw;
    margin: calc(10vw + 3rem) -7vw 0;
    position: relative;

    .box {
      position: absolute;

      .container {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .box:first-child {
      width: 50vw;
      height: 65vw;
      top: -10vw;
      left: 7vw;
    }

    .box:last-child {
      width: 50vw;
      height: 30vw;
      bottom: 5vw;
      right: 7vw;
    }
  }
}

.section_two {
  text-align: center;
  margin: 0 auto 2.5rem;

  .title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--blue);
  }

  .subtitle {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--blue);
  }

  .slideshow {
    position: relative;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;

    h3 {
      font-size: 3rem;
      font-weight: 700;
      color: var(--green);
      position: absolute;
      width: 100%;
    }
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    text-decoration: none;
    width: fit-content;
    margin: 0.5rem auto 0;

    span {
      font-size: 0.875rem;
      font-weight: 600;
    }

    svg {
      font-size: 1rem;
      cursor: pointer;
      transition: 150ms ease-in;
    }

    &:hover > svg {
      transform: translateX(0.5rem);
    }
  }

  .paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: var(--blue);
    line-height: 1.4;
    margin-top: 1rem;
  }

  .items {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    width: 100%;
    margin-top: 2.25rem;

    .container {
      position: relative;
      width: 100px;
      margin-right: 0.5rem;

      .image {
        width: 100%;
        height: 100%;
      }
    }

    .paragraph {
      margin: 0;
    }
  }

  .row:last-child {
    text-align: left;
    margin-top: 2.5rem;

    .link {
      justify-content: flex-start;
      margin: 0.5rem 0 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero_section {
    height: 800px;

    .column:first-child {
      padding-top: 3rem;
      max-width: 45%;

      .title {
        font-size: 60px;
      }

      p {
        font-size: 18px;
      }
    }

    .column:last-child {
      position: absolute;
      top: 0;
      right: 0;
      width: 45vw;
      max-height: 800px;
      margin: 66px 0 0;

      .box:first-child {
        width: 33vw;
        height: 40vw;
        top: 20%;
        right: 0;
        left: unset;
      }

      .box:last-child {
        width: 40vw;
        height: 27.5vw;
        left: -15%;
        bottom: 5%;
      }
    }
  }

  .section_two {
    .title,
    .slideshow h3 {
      font-size: 60px;
    }

    .slideshow {
      height: 85px;
    }

    .link span {
      font-size: 1rem;
    }

    .subtitle {
      font-size: 3rem;
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
    }

    .paragraph {
      font-size: 18px;
      text-align: center;
      max-width: 500px;
      margin: 1.5rem auto 0.5rem;
    }

    .row:last-child .link {
      margin: 0 auto;
    }

    .item {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 830px) {
  .hero_section .column:first-child {
    .buttons {
      display: flex;

      .button_fill {
        margin-bottom: 0;
      }

      .button_outline {
        margin: 1rem 0 0 1rem;
      }
    }
  }
}
