/* Hero section */

.home-page.hero-section {
  height: calc(100vh - var(--header-height));
  max-height: 1000px;
  display: flex;
  align-items: center;
}

.hero-section.main-content,
.hero-section.image-container {
  width: 50%;
}

.hero-section.main-content__subtitle {
  color: var(--green);
  text-transform: uppercase;
  font-size: 1rem;
}

.hero-section.main-content__title {
  font-size: 2.75rem;
  font-weight: 900;
  margin: 0.2em 0 1em;
}

.hero-section.main-content__items {
  display: flex;
  margin-bottom: 2.5rem;
}

.hero-section.main-content__button {
  display: inline-block;
  color: var(--background);
  background-color: var(--green);
  padding: 1em 2em;
  border-radius: 5em;
  cursor: pointer;
  transition: 150ms;
  margin-top: 2rem;
  font-weight: 700;
}

.hero-section.main-content__button:hover {
  background-color: hsl(158, 60%, 40%);
}

.hero-section.image-container {
  height: 85%;
  max-height: 600px;
  display: flex;
  justify-content: flex-end;
}

.hero-section.image-container__image {
  width: 80%;
}

.hero-section.image-container__image img {
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Services */

.home-page.services {
  width: fit-content;
  text-align: center;
  margin: 4rem auto;
}

.home-page.services__title {
  font-size: 2.75rem;
  font-weight: 900;
}

.home-page.services__slideshow {
  position: relative;
  width: 350px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 0.3em;
}

.home-page.services__slideshow h2 {
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--blue);
  position: absolute;
  width: 100%;
}

.home-page.services-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.home-page.services-link a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--green);
  text-decoration: none;
  text-transform: uppercase;
}

.home-page.services-link svg {
  color: var(--green);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 150ms;
}

.home-page.services-link:hover > svg {
  transform: translateX(0.5em);
}
