.hero-section.main-content__item {
  display: flex;
}

.hero-section.main-content__item:not(:last-child) {
  margin-right: 3rem;
}

.hero-section.main-content__item-icon {
  height: 100%;
  margin-right: 1em;
}

.hero-section.main-content__item-icon svg {
  color: var(--blue);
  height: 100%;
  font-size: 1.75rem;
}

.hero-section.main-content__item h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.hero-section.main-content__item h3 {
  color: var(--grey);
  font-weight: 400;
  font-size: 0.9rem;
}
