.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--blue);
  padding: calc(66px + 2rem) 7vw 0;
  opacity: 0;
  visibility: hidden;
  transition: 100ms ease-in;
  z-index: 10;

  .links {
    display: flex;
    flex-direction: column;

    .link {
      font-size: 2rem;
      color: var(--background);
      font-weight: 600;
      text-decoration: none;
      width: fit-content;
    }

    .link:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;

    a {
      font-size: 0.875rem;
      font-weight: 500;
      text-decoration: none;
      width: fit-content;
    }

    .search,
    .login,
    .register {
      margin-top: 1rem;
      color: var(--background);
    }

    .search {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }
  }
}

.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 750px) {
  .menu {
    padding: 4rem 7vw;

    .links {
      .link {
        font-size: 3rem;
      }

      .link:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    .buttons {
      display: none;
    }
  }
}
