.home-page.services {
  width: fit-content;
  text-align: center;
  margin: 2rem auto 5rem;
}

.home-page.services__title {
  font-size: 2.75rem;
  font-weight: 900;
}

.home-page.services__slideshow {
  position: relative;
  width: 350px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 0.3em;
}

.home-page.services__slideshow h2 {
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--blue);
  position: absolute;
  width: 100%;
}

.home-page.services__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.home-page.services__link a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--green);
  text-decoration: none;
  text-transform: uppercase;
}

.home-page.services__link svg {
  color: var(--green);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 150ms;
}

.home-page.services__link:hover > svg {
  transform: translateX(0.5em);
}

@media screen and (max-width: 1024px) {
  .home-page.services__title,
  .home-page.services__slideshow h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 650px) {
  .home-page.services {
    margin: 3rem auto;
  }
}
