/* .home-page.specializations {
  display: flex;
  margin: 5rem 0;
}

.home-page.specializations__content,
.home-page.specializations__images {
  width: 50%;
}

.home-page.specializations__content {
  padding-right: 7.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-page.specializations__content__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.home-page.specializations__content__line {
  width: 50px;
  height: 3px;
  border-radius: 5em;
  background-color: var(--green);
  margin: 1rem 0;
}

.home-page.specializations__content__text {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.home-page.specializations__content__button {
  display: inline-block;
  color: var(--background);
  background-color: var(--green);
  padding: 1em 2em;
  border-radius: 5em;
  cursor: pointer;
  transition: 150ms;
  margin-top: 1rem;
  font-weight: 700;
  width: fit-content;
}

.home-page.specializations__content__button:hover {
  background-color: hsl(218, 91%, 40%);
}

.home-page.specializations__images {
  height: 300px;
  position: relative;
}

.home-page.specializations__images__container-one {
  width: 350px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-page.specializations__images__container-two {
  width: 250px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.home-page.specializations__images img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
} */

/* test */

.home-page.specializations__section {
  display: flex;
  margin: 5rem 0;
}

.home-page.specializations__section__box {
  flex: 1;
  background-color: var(--blue);
  color: var(--background);
  padding: 3rem 2rem;
  margin-right: 3rem;
  border-radius: 10px;
}

.home-page.specializations__section__box h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.home-page.specializations__section__box p {
  font-size: 0.9rem;
  font-weight: 400;
}

.home-page.specializations__section__content {
  flex: 2;
}

.home-page.specializations__section__content h1 {
  font-size: 2.75rem;
  font-weight: 900;
  margin-bottom: 0.2em;
}

.home-page.specializations__section__content p {
  font-size: 1rem;
  font-weight: 500;
}

.home-page.specializations__items {
  display: flex;
  flex-wrap: nowrap;
}

.home-page.specializations__item {
  flex: 1;
  padding: 3rem 2rem;
  border-radius: 10px;
  transition: 150ms;
}

.home-page.specializations__item:not(:last-child) {
  margin-right: 2rem;
}

.home-page.specializations__item svg {
  font-size: 1.5rem;
  color: var(--blue);
}

.home-page.specializations__item h2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5em 0;
}

.home-page.specializations__item p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--grey);
}

.home-page.specializations__item:hover {
  box-shadow: rgba(0, 0, 0, 0.125) 0px 10px 50px;
  transform: translateY(-1rem);
}
