/* CSS Variables */

:root {
  --foreground: #1d2b4f;
  --background: #ffffff;
  --blue: #0e63f4;
  --light-blue: #b7d0fc;
  --green: #32cb94;
  --grey: #a3a4cb;

  --header-box-shadow: 0 0 8px rgb(0 0 0 / 16%);

  --header-height: 80px;
}

/* Reset default styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input {
  font-family: "Roboto", serif;
  font-size: 16px;
  color: var(--foreground);
  letter-spacing: 0.5px;
}

input {
  border: none;
  outline: none;
}

button {
  outline: none;
  border: none;
}

/* General styles */

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--header-height) 5vw 0;
}

/* Import components */
/* External components */
@import url("./components/header/header.css");
@import url("./components/header/menu/menu.css");
@import url("./components/footer/footer.css");

/* Internal components*/
@import url("./pages/home/item/item.css");

/* Pages */
@import url("./pages/home/home.css");
