:root {
  --foreground: #000000;
  --background: #ffffff;
  --accent: #6633cc;
  --dark-accent: #5229a3;
  --light-accent: hsl(260, 60%, 95%);
  --secondary: #ff6633;
  --line: #e2e0de;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
select,
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--foreground);
}

input,
select,
button {
  border: none;
  outline: none;
  background: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
