:root {
  --foreground: #000000;
  --background: #ffffff;
  --blue: #2b3b99;
  --dark-blue: #004080;
  --green: #36bd66;
  --line: #e2e0de;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
select,
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--foreground);
}

input,
select,
button {
  border: none;
  outline: none;
  background: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
