:root {
  --foreground: #000000;
  --background: #ffffff;
  --line: #e2e0de;

  --accent: #6633cc;
  --dark-accent: #5229a3;
  --secondary: #ff6633;

  --header-height: 66px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
select,
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--foreground);
}

input,
select,
button {
  border: none;
  outline: none;
  background: none;
}

body {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
